{% extends 'baseAdminAlunos.html' %}

{%block conteudo%}
<body style="background-color: #f5f7fa">
    <br>
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="d-flex align-items-center">
        <a class="btn btn-secondary" style="margin-right: 30px; margin-left: 30px;" href="/membros/admin/alunos" role="button">Voltar</a>
      </div>
    </div>
    <div class="container-fluid" align="center">
        <section>
            <div class="card" style="border-color: blue; margin-top: -30px; margin-left: 300px; margin-right: 300px;">
                <div class="card-header align-items-center">
                    <h3 class="card-title">Informacoes Pessoais</h3>
                </div>
                <div class="card-body" style="margin-left: 25px; margin-right: 25px;">
                    <div class="d-flex flex-row justify-content-between p-md-1">
                        <div class="d-flex flex-row" style="text-align: left;">
                            <h4>Nome completo:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_nome }}</p>
                        </div>
                        <div class="d-flex flex-row">
                            <h4>Genero:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_genero }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between p-md-1" style="text-align: left;">
                        <div class="d-flex flex-row">
                            <h4>CPF:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_cpf }}</p>
                        </div>
                        <div class="d-flex flex-row">
                            <h4>Data de nascimento:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_data_nascimento|date:'d/m/Y' }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between p-md-1" style="text-align: left;">
                        <div class="d-flex flex-row">
                            <h4>Email Pessoal:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_email_pessoal }}</p>
                        </div>
                        <div class="d-flex flex-row">
                            <h4>Contato:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_telefone }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="border-color: blue; margin-top: 10px; margin-left: 300px; margin-right: 300px;">
                <div class="card-header align-items-center">
                    <h3 class="card-title">Informacoes Institucionais</h3>
                </div>
                <div class="card-body" style="margin-left: 25px; margin-right: 25px;">
                    <div class="d-flex flex-row justify-content-between p-md-1">
                        <div class="d-flex flex-row" style="text-align: left;">
                            <h4>Matricula:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_matricula }}</p>
                        </div>
                        <div class="d-flex flex-row">
                            <h4>Curso:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_curso }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between p-md-1" style="text-align: left;">
                        <div class="d-flex flex-row">
                            <h4>Email Institucional:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_email_institucional }}</p>
                        </div>
                        <div class="d-flex flex-row">
                            <h4>Periodo academico:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_periodo_academico }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="border-color: blue; margin-top: 10px; margin-left: 300px; margin-right: 300px;">
                <div class="card-header align-items-center">
                    <h3 class="card-title">Endereco</h3>
                </div>
                <div class="card-body" style="margin-left: 25px; margin-right: 25px;">
                    <div class="d-flex flex-row justify-content-between p-md-1">
                        <div class="d-flex flex-row" style="text-align: left;">
                            <h4>Descricao:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_endereco_descricao }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between p-md-1" style="text-align: left;">
                        <div class="d-flex flex-row">
                            <h4>Cidade:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_endereco_cidade }}</p>
                        </div>
                        <div class="d-flex flex-row">
                            <h4>CEP:</h4>
                            <p class="mb-0" style="margin-left: 5px; padding-top: 5px">{{ aluno.alu_endereco_cep }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

{%endblock%}
