{% extends 'baseAdmin.html' %}

{%block brand%}
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/avisos">
        <div class="sidebar-brand-icon">
            <i class="fas fa-university"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Sistema Estagio</sup></div>
    </a>
{%endblock%}

{%block opcoes%}
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          method="POST" action="">
        <div class="input-group">
            {% csrf_token %}
            <input type="search" class="form-control bg-light border-0 small" placeholder="Busque cadastros aqui..."
                   aria-label="Search" aria-describedby="basic-addon2" name="searched">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
{%endblock%}

{%block conteudo%}
<body>
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Homologacao</h1>
    </div>
</body>

{%endblock%}