{% extends 'baseAdmin.html' %}

{%block brand%}
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/avisos">
        <div class="sidebar-brand-icon">
            <i class="fas fa-university"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Sistema Estagio</sup></div>
    </a>
{%endblock%}

{%block opcoes%}
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          method="POST" action="">
        <div class="input-group">
            {% csrf_token %}
            <input type="search" class="form-control bg-light border-0 small" placeholder="Busque cadastros aqui..."
                   aria-label="Search" aria-describedby="basic-addon2" name="searched">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
{%endblock%}

{%block conteudo%}
<body>
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Homologacao</h1>
    </div>
    <section>
        <div class="center" align="center">
          <div class="col-12 mt-3 mb-1">
            <h5 class="text-uppercase">Cadastros inativos</h5>
          </div>
        </div>
        <div class="container" style="margin-top:25px">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card" style="border-color: blue">
                  <div class="card-body p-0">
                    <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: auto">
                      <table class="table table-striped mb-0">
                        <thead style="background-color: #4A6FDC;">
                          <tr class="text-white">
                            <th scope="col">Nome</th>
                            <th scope="col">Email Institucional</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Operacoes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for alunoIna in alunosIna %}
                            <tr>
                              <td>
                                <a href="{% url 'admAluno' alunoIna.alu_id %}">{{ alunoIna.alu_nome }}</a>
                              </td>
                              <td>{{ alunoIna.alu_email_institucional }}</td>
                              <td>{{ alunoIna.alu_telefone }}</td>
                              <td>{{ alunoIna.alu_cpf }}</td>
                              <td>
                                <a class="btn btn-secondary text-white " href="{% url 'atualizarAluno' alunoIna.alu_id %}" role="button">Editar</a>
                                <a class="btn btn-danger text-white" href="{% url 'deletarAluno' alunoIna.alu_id %}" role="button">Excluir</a>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </section>
    <br>
    <section>
        <div class="center" align="center">
          <div class="col-12 mt-3 mb-1">
            <h5 class="text-uppercase">Cadastros ativos</h5>
          </div>
        </div>
        <div class="container" style="margin-top:25px">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card" style="border-color: blue">
                  <div class="card-body p-0">
                    <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: auto">
                      <table class="table table-striped mb-0">
                        <thead style="background-color: #4A6FDC;">
                          <tr class="text-white">
                            <th scope="col">Nome</th>
                            <th scope="col">Email Institucional</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Operacoes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for alunoAti in alunosAti %}
                            <tr>
                              <td>
                                <a href="{% url 'admAluno' alunoAti.alu_id %}">{{ alunoAti.alu_nome }}</a>
                              </td>
                              <td>{{ alunoAti.alu_email_institucional }}</td>
                              <td>{{ alunoAti.alu_telefone }}</td>
                              <td>{{ alunoAti.alu_cpf }}</td>
                              <td>
                                <a class="btn btn-secondary text-white " href="{% url 'atualizarAluno' alunoAti.alu_id %}" role="button">Editar</a>
                                <a class="btn btn-danger text-white" href="{% url 'deletarAluno' alunoAti.alu_id %}" role="button">Excluir</a>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </section>
</body>

{%endblock%}