{% extends 'baseGerirInterpretes.html' %}

{%block conteudo%}
<body>
    <h1 class="mt-5">Intérpretes</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Sexo</th>
          <th scope="col">E-mail</th>
          <th scope="col">Telefone</th>
        </tr>
      </thead>
      <tbody>
        {% for interprete in interpretes %}
          <tr>
            <td>
              <a href="{% url 'interprete' interprete.int_id %}">{{ interprete.int_nome }}</a>
            </td>
            <td>{{ interprete.int_cpf }}</td>
            <td>{{ interprete.int_sexo}}</td>
            <td>{{ interprete.int_email}}</td>
            <td>{{ interprete.int_telefone}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for pagina in interpretes.paginator.page_range %}
      {% if interpretes.number == pagina %}
        <li
                class="page-item active"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
        </li>
      {% else %}
        <li
                class="page-item"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
</body>

{%endblock%}