{% extends 'baseAvisos.html' %}

{%block conteudo%}
<style>

</style>
<body>
    <br>
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="d-flex align-items-center">
        <a class="btn btn-secondary" style="margin-right: 30px; margin-left: 30px;" href="/avisos" role="button">Voltar</a>
        <a class="btn btn-primary" style="margin-right: 30px" href="/avisos/adicionarAviso" role="button">Enviar</a>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <form class="d-flex" method="POST" action="{% url 'buscarAviso' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Busque avisos aqui.." aria-label="Search" name="searched">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <br>
    <div align="center">
        {% if searched %}
            <div class="container-fluid" align="center">
              <section>
                <div class="row">
                  <div class="col-12 mt-3 mb-1">
                    <h4>Buscando por "{{ searched }}"</h4>
                  </div>
                </div>
                {% for aviso in avisos %}
                    <div class="row" style="">
                      <div class="col-xl-8 col-md-12" style="margin: 0 auto; margin-top: -10px">
                        <div class="card text-white bg-primary mb-3">
                          <div class="card-body">
                            <div class="d-flex justify-content-between p-md-1">
                              <div class="d-flex flex-row">
                                <div class="align-self-center">
                                  <h4>{{ aviso.avi_id }}</h4>
                                  <i class="fas fa-pencil-alt text-info fa-3x me-4"></i>
                                </div>
                                <div style="overflow: hidden; text-align: left; margin-left: 20px">
                                  <h4>{{ aviso.avi_titulo }}</h4>
                                  <p class="mb-0">{{aviso.avi_descricao}}</p>
                                </div>
                              </div>
                              <div class="d-flex flex-row">
                                <div>
                                  <h4>{{ aviso.avi_data|date:'d/m/Y H:i:s' }}</h4>
                                  <p class="mb-0">Enviado por {{ aviso.avi_administrador }}</p>
                                </div>
                              </div>
                            </div>
                            <a href="{% url 'aviso' aviso.avi_id %}" class="stretched-link"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
              </section>
            </div>
        {% else %}
            <h4>Nenhuma busca realizada</h4>
        {% endif %}
    </div>
</body>

{%endblock%}