{% extends 'base.html' %}

{%block conteudo%}
<body>
    <div class="bottomnav">
        <div id-="wrapper" class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Perfil</a>
            <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Avisos</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Feedback</a>
            <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Relatórios</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#">Ajuda</a>
        </div>
    </div>
    <h1 class="mt-5">Visualização</h1>
</body>

{%endblock%}
