{% extends 'baseAvisos.html' %}

{%block conteudo%}
<style>
  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
  }
</style>
<body style="background-color: #f5f7fa">
    <br>
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="d-flex align-items-center">
        <a class="btn btn-secondary" style="margin-right: 30px" href="/administrador" role="button">Voltar</a>
        <form class="w-100 me-3" style="margin-right: 50px">
          <input type="search" class="form-control" placeholder="Pesquise alunos aqui" aria-label="Search">
        </form>
      </div>
    </div>
    <div class="container-fluid" align="center">
      <section>
        {% for aviso in avisos %}

            <div class="row">
              <div class="col-12 mt-3 mb-1">
                <h5 class="text-uppercase">Avisos postados</h5>
              </div>
            </div>
            <div class="row" style="">
              <div class="col-xl-8 col-md-12 mb-4" style="margin: 0 auto;">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-pencil-alt text-info fa-3x me-4"></i>
                        </div>
                        <div style="overflow: hidden;">
                          <h4>{{ aviso.avi_id }}</h4>
                        </div>
                        <div style="overflow: hidden;">
                          <h4>{{ aviso.avi_titulo }}</h4>
                          <p class="mb-0">{{aviso.avi_descricao}}</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row">
                        <div>
                          <h4>{{ aviso.avi_data|date:'d/m/Y H:i:s' }}</h4>
                          <p class="mb-0">Enviado por {{ aviso.avi_administrador }}</p>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="stretched-link"></a>
                  </div>
                </div>
              </div>
            </div>

        {% endfor %}
      </section>
    </div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for pagina in avisos.paginator.page_range %}
      {% if avisos.number == pagina %}
        <li
                class="page-item active"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
        </li>
      {% else %}
        <li
                class="page-item"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
</body>

{%endblock%}
