{% extends 'baseAvisos.html' %}

{%block conteudo%}
<body>
    <h1 class="mt-5">Avisos</h1>

    <table class="table">
      <thead>
        <tr>

          <th scope="col">Titulo</th>
          <th scope="col">Descricao</th>
          <th scope="col">Data</th>
          <th scope="col">Arquivo</th>
        </tr>
      </thead>
      <tbody>
        {% for aviso in avisos %}
          {% if aviso.avi_mostrar %}
            <tr>
              <td>
                <a href="{% url 'aviso' aviso.avi_id %}">{{ aviso.avi_titulo }}</a>
              </td>
              <td>{{aviso.avi_descricao}}</td>
              <td>{{ aviso.avi_data|date:'d/m/Y H:i:s' }}</td>
              <td>{{aviso.avi_arquivos}}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for pagina in avisos.paginator.page_range %}
      {% if avisos.number == pagina %}
        <li
                class="page-item active"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
        </li>
      {% else %}
        <li
                class="page-item"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
</body>

{%endblock%}
