{% extends 'baseacc.html' %}
{% load crispy_forms_tags %}
{% block titulo %}Cadastro Aluno - NAI{% endblock %}

{% block conteudo %}

<h1 class="mt-3 mb-3">Cadastro de Aluno</h1>

    {% include 'parciais/_messagesacc.html' %}

  </p>


  <div class="container">
    <form action="{% url 'cadastroAluno' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ userform|crispy}}



        <button type="submit" class="btn btn-primary">Enviar</button>


    </form>

  </div>


{% endblock %}