{% extends 'baseAluno.html' %}
<html lang="pt">

{%block brand%}
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/avisos/aviIndexAluno">
    <div class="sidebar-brand-icon">
        <i class="fas fa-university"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Sistema Estágio</sup></div>
</a>
{%endblock%}

{%block opcoes%}
    <a class="btn btn-secondary" style="margin-right: 30px" href="{% url 'alunoFeedbackAll' user.id %}" role="button">Voltar</a>

    <a  style="margin-right: 10px" href="{% url 'alunoRespostaFeedback' user.id ultimo_feedback.fee_id %}" methods="GET" class="btn btn-success">Enviar nova mensagem</a>

{%endblock%}

{%block conteudo%}

<div class="container-fluid" align="">
    <section>
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h5 class="text-uppercase" align="center">TODAS MENSAGENS DO FEEDBACK</h5>
            </div>
        </div>

        {% for f in feedback %}
         <div class="row" style="">
            <div class="col-xl-8 col-md-12" style="margin: 0 auto; margin-top: 10px">
                <div class="card mb-3">
                    <div class="card-header bg-success text-white">
                        <div class="row">
                            <div class="me-auto p-2 bd-highlight">
                                Data: {{ f.fee_data|date:'d/m/Y H:i:s' }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Tipo de Feedback: {{ f.fee_titulo }}</h5>
                        <textarea class="form-control " rows="5" disabled>{{f.fee_descricao}}</textarea>
                        <div class="row">
                            <h5 class="col-12">Informações do Feedback:</h5>
                            <div class="ms-auto p-2 bd-highlight flex-row-reverse col-6">
                                <p class="flex-row-reverse">Durante o acompanhamento de número: {{ f.fee_acompanhamento.aco_id}}</p>
                                <p class="flex-row-reverse">Data inicio do acompanhamento: {{ f.fee_acompanhamento.aco_inicio|date:'d/m/Y' }}</p>
                                <p class="flex-row-reverse">Data final do acompanhamento: {{ f.fee_acompanhamento.aco_fim|date:'d/m/Y' }}</p>
                            </div>
                            <div class="ms-auto p-2 bd-highlight flex-row-reverse">
                                <p class="flex-row-reverse">Número do Feedback: {{ f.fee_id }}</p>
                                <p class="flex-row-reverse">Feedback anterior: {{ f.fee_anterior }}</p>
                                <p class="flex-row-reverse">Proximo Feedback: {{ f.fee_proximo }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{%endblock%}
