{% extends 'baseAdminAlunos.html' %}

{%block conteudo%}
<body>
  <br>
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div class="d-flex align-items-center">
      <a class="btn btn-light" style="margin-right: 30px" href="/administrador" role="button">Voltar</a>
      <form class="w-100 me-3" style="margin-right: 50px">
        <input type="search" class="form-control" placeholder="Pesquise alunos aqui" aria-label="Search">
      </form>
    </div>
  </div>
  <br>
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {% for aluno in alunos %}
      <tr>
        <th scope="row">{{aluno.user.id}}</th>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.cpf}}</td>
        <td>{{aluno.email}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

{%endblock%}