{% extends 'baseAdminAlunos.html' %}

{%block conteudo%}
<style>
  * {
    box-sizing: border-box;
  }

  /* Style the search field */
  .searchbar input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  /* Style the submit button */
  .searchbar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  .searchbar button:hover {
    background: #0b7dda;
  }

  /* Clear floats */
  .searchbar::after {
    content: "";
    clear: both;
    display: table;
  }
</style>
<body>
    <br>
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="d-flex align-items-center">
        <a class="btn btn-secondary" style="margin-right: 30px; margin-left: 30px;" href="/administrador/alunos" role="button">Voltar</a>
        <a class="btn btn-primary" style="margin-right: 30px" href="/administrador/adicionarAluno" role="button">Criar aluno</a>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <form class="d-flex searchbar" method="POST" action="{% url 'buscarAluno' %}">
          {% csrf_token %}
          <input class="form" type="search" placeholder="Busque alunos aqui.." aria-label="Search" name="searched">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <br>
    <div align="center">
      {% if searched %}
        <section>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card" style="border-color: blue">
                  <div class="card-body p-0">
                    <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: auto">
                      <table class="table table-striped mb-0">
                        <thead style="background-color: #2196F3;">
                          <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Email Institucional</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Operacoes</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for aluno in alunos %}
                            <tr>
                              <td>
                                <a href="{% url 'admAluno' aluno.alu_id %}">{{ aluno.alu_nome }}</a>
                              </td>
                              <td>{{ aluno.alu_cur }}</td>
                              <td>{{ aluno.alu_email_institucional }}</td>
                              <td>{{ aluno.alu_telefone }}</td>
                              <td>{{ aluno.alu_cpf }}</td>
                              <td>
                                <a class="btn btn-secondary text-white" href="{% url 'atualizarAluno' aluno.alu_id %}" role="button">Editar</a>
                                <a class="btn btn-danger text-white" href="{% url 'deletarAluno' aluno.alu_id %}" role="button">Excluir</a>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% else %}
        <h4>Nenhuma busca realizada</h4>
      {% endif %}
    </div>
</body>

{%endblock%}