{% extends 'baseGerirMonitorTutor.html' %}

{%block conteudo%}
<body>
    <h1 class="mt-5">Monitores</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Curso</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col">CPF</th>
          <th scope="col">Sexo</th>

        </tr>
      </thead>
      <tbody>
        {% for monitor in monitores %}
          <tr>
            <td>
              <a href="{% url 'monitor' monitor.mon_id %}">{{ monitor.mon_nome }}</a>
            </td>
            <td>{{ monitor.mon_cur }}</td>
            <td>{{ monitor.mon_email }}</td>
            <td>{{ monitor.mon_telefone }}</td>
            <td>{{ monitor.mon_cpf }}</td>
            <td>{{ monitor.mon_sexo }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for pagina in monitores.paginator.page_range %}
      {% if monitores.number == pagina %}
        <li
                class="page-item active"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
        </li>
      {% else %}
        <li
                class="page-item"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
</body>

{%endblock%}